@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  min-height: 100vh;
font-family: "Roboto", sans-serif;

}
a{
  text-decoration: none !important;
}
.dropdown-menu[data-bs-popper] {
    top: 100%;
    left: -70px !important;
    margin-top: var(--bs-dropdown-spacer);
}
/* Reset default margin and padding */
body, header, main, aside {
  margin: 0;
  padding: 0;
}

/* Set container to full viewport height */


/* Define header styles */
.header {
  height: 80px !important;
}
.maincontainer {
  display: flex;
  height: calc(100vh - 84px);
}

/* Define sidebar styles */
.sidebar {
  background-color: #FFFFFF;
  width: 18%;
  overflow: hidden;
}

/* Define content styles */
.content {
  flex-grow: 1;
  background-color: #f2f2f2;
  padding: 5px;
  overflow-y: auto;}

/* Media queries for responsive layout */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  
  .sidebar {
    width: 100%;
  }
}
